*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT CLASSES */
.container{
    max-width: 1200px;
    margin: 0px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.col-33-no-margin{
    width: calc(100%/3);
}

.col-33{
    width: calc(100%/3 - 20px);
    margin: 10px;
}

/* END LAYOUT CLASSES*/

/* UTILITY CLASSES */
.text-align-right{
    text-align: right;
}

/* END UTILITY */


/* START OF HEADER SECTION */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: orange;
    line-height: 3em;
}

header a{
    color: white;
    text-decoration: none;
}

header .logo{
    display: block;
    height: 2em;
    margin: 0.5em auto;
}
/* END OF HEADER SECTION */


/* START OF MAIN(catalogue) SECTION */


.product img{
    max-width: 100%;
}
.product img.hidden{
    display: none;
}


.product .name{
    text-transform: uppercase;
}
.product .price{
    display: inline;
    padding-right: 8px;
    color: red;
}
.product .price.old{
    font-weight: 100;
    text-decoration: line-through;
    color: black;
}
/* END OF MAIN */