*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* LAYOUT CLASSES */
.container{
    max-width: 1200px;
    margin: 0px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.col-33-no-margin{
    width: calc(100%/3);
}

.col-33{
    width: calc(100%/3 - 20px);
    margin: 10px;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

/* END LAYOUT CLASSES*/

/* UTILITY CLASSES */
.text-align-right{
    text-align: right;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.position-relative{
    position: relative;
}

/* END UTILITY */


/* START OF HEADER SECTION */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: orange;
    line-height: 3em;
    z-index: 1;
}

header a{
    color: white;
    text-decoration: none;
}

header .logo{
    display: block;
    height: 2em;
    margin: 0.5em auto;
}
/* END OF HEADER SECTION */


/* START OF MAIN(catalogue) SECTION */
main{
    padding-top: 4em;
    padding-bottom: 50px;
}

.product{
    position: relative;
}

.product img{
    max-width: 100%;
    display: block;
}
.product img.hidden{
    display: none;
}
.product:hover img.shown{
    display: none;
}
.product:hover img.hidden{
    display: block;
}

.product .name{
    text-transform: uppercase;
}
.product .price{
    display: inline;
    padding-right: 8px;
    color: red;
}
.product .price.old{
    font-weight: 100;
    text-decoration: line-through;
    color: black;
}

    /* heart over immages with hoover and active effects */
.product .heart{
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5em;
}
.product .heart:hover{
    color: red;
    cursor: pointer;
}
.product .heart:active{
    background-color: red;
    color: white;
}

    /* labels over image */
.product .labels{
    position: absolute;
    top: 80%;    
    left: 0;
}
.product .labels .label{
    display: inline-block;
    padding: 3px 6px;
    color: white;
}

/* END OF MAIN */


/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 20px;
}
footer a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 5px;
}

footer .find-us{
    position: absolute;
    right: 0;
}
/* END OF FOOTER */